@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open Sans';
  src: 
    url('/fonts/OpenSans-VariableFont.ttf')
    format('truetype');
  font-weight: 300, 400, 600,700, 800;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: 
    url('/fonts/OpenSans-Italic-VariableFont.ttf')
    format('truetype');
  font-weight: 300, 400, 600,700, 800;
}

* {
  font-family: 'Open Sans', sans-serif;
}